body {
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body h1 {
  color: blueviolet;
}

.cabecera {
  background-color: white;
  margin: 0 auto;
  color: gray;
  text-align: center;
}
